@font-face {
  font-family: 'Literata';
  src: url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
}

:root {
  --background: #F4F2ED;
  --red: #FF0000;
  --black: #111214;
}

h2 {
  color: var(--black);
  font-weight: 200;
  margin: 0;
  padding: 0;
}

p {
  color: var(--black);
  font-weight: 200;
}


.landing {
  display: grid;
  grid-template-rows: 240px 40px 420px 120px 50px;
  font-family: 'Literata';
  background-color: var(--background);
  padding:21px;
  height:95.6vh;
  width: 97.8%;
  gap: 0;
}

#head {
  width: 100%;
}

#welcome-msg-div {
  width: 100%;

}

#welcome-msg, #intro-me {
  margin-left: 388px;
}

.currPageSquare {
  width: 20px;
  height: 20px;
  background-color: var(--red);
}

ul {
  margin: 0;
}

span {
  color:var(--red);
}

.navbar li {
  list-style-type: none;
  color:var(--red);
  padding-top: 30px;
  font-weight: 100;
}

html,body {
  margin: 0;
}

#name-div {
  margin:0;
  position: relative;
  grid-row: 3;
}

h1 {
  font-weight: 700;
  position: absolute;
  font-size: 500px;
  color:var(--red);
  padding: 0;
  margin:0;
  line-height: 330px;
  z-index: 1;
}

#name {
  top: 10%;
  left:12%;
}

#name-outline {
  color: var(--background);
  position: absolute;
  text-shadow:
    -1px -1px 0 var(--red),  /* Top-left shadow */
    1px -1px 0 var(--red),   /* Top-right shadow */
    -1px 1px 0 var(--red),   /* Bottom-left shadow */
    1px 1px 0 var(--red);    /* Bottom-right shadow */
    z-index: 0;
}

.footer {
  width: 100%;
  display:grid;
  grid-template-columns: 400px 1125px 200px;
}

.address {
  display: grid;
  grid-template-columns: 150px 150px;
  gap:20px;
}

.address p:first-of-type {
  padding-left: 40px;
}


.info {
  text-align: center;
  text-decoration: underline;
}

.scroll {
  display: flex;
}






