

* {
  cursor: none;
  pointer-events: none;
  margin:0;
  padding: 0;
}

:root {
  --primary: #F4F2ED;
  --secondary: #FF0000;
  --tertiary: #000000;
  --red: #FF0000;
}

.cursor {
  background-color: var(--red);
  height:32px;
  width:32px;
  border-radius: 50%;
  position:fixed;
  top:0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}

h2 {
  color: var(--tertiary);
  font-weight: 200;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}

p {
  color: var(--tertiary);
  font-weight: 200;
  pointer-events: auto;
}
 
a {
  pointer-events: auto;
  text-decoration: none !important;
  color: var(--tertiary);
}


.scroll {
  display: flex;
}


/** LANDING CSS */

#landing {
  display: grid;
  grid-template-rows: 240px 40px 420px 120px 50px;
  font-family: 'Literata';
  background-color: var(--primary);
  padding:21px;
  height:95.4vh;
  width: 97.8%;
  gap: 0;
}

#head {
  width: 7%;
}

#welcome-msg-div {
  width: 100%;

}

#welcome-msg, #intro-me {
  margin-left: 388px;
}

.currPageSquare {
  width: 20px;
  height: 20px;
  background-color: var(--red);
}

ul {
  margin: 0;
}

span {
  color:var(--red);
}

.navbar li {
  list-style-type: none;
  color:var(--secondary);
  padding-top: 30px;
  font-weight: 100;
}

#name-div {
  margin:0;
  position: relative;
  grid-row: 3;
}

h1 {
  font-weight: 700;
  position: absolute;
  font-size: 500px;
  color:var(--secondary);
  padding: 0;
  margin:0;
  line-height: 330px;
  z-index: 1;
  pointer-events: auto;
}

#name {
  top: 10%;
  left:12%;
}

#name-outline {
  color: var(--primary);
  position: absolute;
  text-shadow:
    -1px -1px 0 var(--secondary),  /* Top-left shadow */
    1px -1px 0 var(--secondary),   /* Top-right shadow */
    -1px 1px 0 var(--secondary),   /* Bottom-left shadow */
    1px 1px 0 var(--secondary);    /* Bottom-right shadow */
    z-index: 0;
}

.footer {
  width: 100%;
  display:grid;
  grid-template-columns: 400px 1125px 200px;
}

.address {
  display: grid;
  grid-template-columns: 150px 150px;
  gap:20px;
}

.address p:first-of-type {
  padding-left: 40px;
}

.info {
  text-align: center;
}

/** About */
.card {
  display: grid;
  grid-template-rows: 240px 40px 420px 120px 50px;
  font-family: 'Literata';
  background-color: var(--tertiary);
  padding:21px;
  height:95.4vh;
  width: 97.8%;
  gap: 0;
}







